[Desktop Entry]
Type=Application
Version=<VERSION>
Name=Wathiq
Comment=Wathiq Monitoring App
Exec=bash -c 'cd "<WATHIQ_DIR>" && make run'
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
