[Desktop Entry]
Type=Application
Version=<VERSION>
Name=Wathiq
Comment=Wathiq Monitoring App
Exec=<WATHIQ_DIR>/bin/wathiq
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
